{
  "extends": ["airbnb"],
  "plugins": ["jsx-a11y"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "comma-dangle": 0
  },
  "settings": {
    "import/resolver": {
      "alias": [
        ["config", "./src/scripts/config"]
      ]
    }
  }
}
